 <table class="framed_scores">
    <tbody>
      <% state_scores.keys.sort.each do |key| %>
      <tr>
        <td class="metric_name"><%= key %>:</td>
        <td id="metric_value"><%= state_scores[key] %></td>
      </tr>
     <% end %> 
    </tbody>  
  </table>
