<div id="shared_links">
  | 
<% admin_area do %>  
  <%= link_to(t("gamification.play_action.title"), gamification_actions_path) %> | 
  <%= link_to(t(:label_settings), gamification_configuration_path) %> | 
<% end %>
<%= link_to t("gamification.index.refresh_game"), gamification_url(refresh_game: 1) %> | 
</div>
