<div id="shared_links">
  | 
<%= link_to(:leaderboards, gamification_leaderboards_path) %> | 
<%= link_to(t("gamification.play_action.title"), gamification_actions_path) %> | 
<%= link_to(t(:label_settings), gamification_configuration_path) %> | 
<%= link_to t("gamification.index.refresh_game"), gamification_url(refresh_game: 1) %> | 
</div>
